<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2019 - <script>document.write(new Date().getFullYear())</script> &copy; Horizons
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="#" data-toggle="modal" data-target="#join-discord-modal">Help</a>
                    <a href="/404">About Us</a>
                    <a href="/404">Contact Us</a>
                    <a href="https://www.patreon.com/corehorizons">Support Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->