<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #2d343b;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #3f4853;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #3f4853;
    }

    .avatar {
        object-fit: cover;
    }
</style>

<!-- Pre-loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>
<!-- End Preloader-->

<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown d-none d-lg-inline-block">
                <a hidden class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                    <i class="fe-maximize noti-icon"></i>
                </a>
            </li>

            <% if (locals.roles.map(role => role.name).includes('Staff')) { %>
            <li>
                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" href="/admin/dashboard" title="Admin Dashboard">
                    <i class="mdi mdi-shield-account mdi-24px"></i>
                </a>
            </li>
            <% } %>

            <li class="dropdown notification-list topbar-dropdown">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" <% if (locals.user) { %>data-toggle="dropdown"<% } %> href="/login" role="button" aria-haspopup="false" aria-expanded="false">
                    <% if (locals.user) { %><img src="<%= locals.avatar %>" alt="user-image" class="rounded-circle avatar"><% } %>
                    <span class="pro-user-name ml-1">
                    <% if (locals.user) { %><%= locals.user.display.name %><% } %><% if (!locals.user) { %>Login<% } %> <i class="mdi <% if (locals.user) { %>mdi-chevron-down<% } %>"></i> 
                    </span>
                </a>
                <% if (locals.user) { %>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome <%= locals.user.display.name %> !</h6>
                    </div>

                    <!-- item-->
                    <a href="/account" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="#settings-tab" class="dropdown-item notify-item right-bar-toggle">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="/lock-screen" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>

                </div>
                <% } %>
            </li>

            <li class="dropdown notification-list">
                <a onclick="changeStyle()" class="nav-link waves-effect waves-light">
                    <i class="fe-shuffle"></i>
                </a>
            </li>

            <script type="text/javascript">
                function changeStyle() {
                    fetch('/account?theme=true', {method: 'PUT'})
                        .then(async res => {
                            if (res.status === 200) window.location.reload()
                            else DisplayModal('error-modal', 'Error', await res.text())
                        })
                        .catch(err => DisplayModal('error-modal', 'Error', err))
                }
            </script>

        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a href="/" class="logo logo-dark text-center">
                <span class="logo-sm">
                    <img src="../assets/images/logo-sm.png" alt="" height="22">
                    <!-- <span class="logo-lg-text-light">UBold</span> -->
                </span>
                <span class="logo-lg">
                    <img src="../assets/images/logo-dark.png" alt="" height="22">
                    <!-- <span class="logo-lg-text-light">U</span> -->
                </span>
            </a>

            <a href="/" class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="../assets/images/logo-sm-light.png" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="../assets/images/logo-light.png" alt="" height="22">
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li>
                <!-- Mobile menu toggle (Horizontal Layout)-->
                <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>   

            <li class="dropdown d-none d-xl-block">
                <a class="nav-link waves-effect waves-light" href="/space-engineers" role="button" aria-haspopup="false" aria-expanded="false">
                    Space Engineers
                    <i></i>
                </a>
            </li>

            <li class="dropdown d-none d-xl-block">
                <a class="nav-link waves-effect waves-light" href="/squad" role="button" aria-haspopup="false" aria-expanded="false">
                    Squad
                </a>
            </li>

            <li class="dropdown d-none d-xl-block">
                <a class="nav-link waves-effect waves-light" href="/eco" role="button" aria-haspopup="false" aria-expanded="false">
                    Eco
                </a>
            </li>

            <li class="dropdown dropdown-mega d-none d-xl-block">
                <a hidden class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    Mega Menu
                    <i class="mdi mdi-chevron-down"></i> 
                </a>
                <div class="dropdown-menu dropdown-megamenu">
                    <div class="row">
                        <div class="col-sm-8">
                
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="text-dark mt-0 font-weight-normal">UI Components</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">Widgets</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Nestable List</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Range Sliders</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Masonry Items</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Sweet Alerts</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Treeview Page</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Tour Page</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="text-dark mt-0 font-weight-normal">Applications</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">eCommerce Pages</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">CRM Pages</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Email</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Calendar</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Team Contacts</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Task Board</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Email Templates</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="text-dark mt-0 font-weight-normal">Extra Pages</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">Left Sidebar with User</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Menu Collapsed</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Small Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">New Header Style</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Search Result</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Gallery Pages</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Maintenance & Coming Soon</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center mt-3">
                                <h3 class="text-dark">Horizons Season Two!</h3>
                                <h4>Join our Community today!</h4>
                                <form action="https://www.horizons.gg/discord">
                                    <button class="btn btn-primary btn-rounded mt-3">Join Now!</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end Topbar -->

<%- include('modals') %>