<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Members | Horizons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">

        <!-- App css -->
        <link href="../assets/css/bootstrap-modern.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="../assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

        <link href="../assets/css/bootstrap-modern-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
        <link href="../assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

        <!-- icons -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    </head>

        <!-- Begin page -->
        <div id="wrapper">

            <%- include('../header') %>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Horizons</a></li>
                                            <li class="breadcrumb-item active">Members</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Members</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="inputPassword2" class="sr-only">Search</label>
                                                    <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                                                </div>
                                                <div class="form-group mx-sm-3">
                                                    <label for="status-select" class="mr-2">Search By</label>
                                                    <select class="custom-select" id="status-select">
                                                        <option value="all" selected>All</option>
                                                        <option value="name">Display Name</option>
                                                        <option value="discord">Discord</option>
                                                        <option value="steam">Steam</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="text-lg-right mt-3 mt-lg-0" style="float: right;">
                                                <ul class="pagination pagination-rounded" id="page-list">
                                                    <li class="page-item">
                                                        <a class="page-link" href="javascript: goToPrevious()" aria-label="Previous">
                                                            <span aria-hidden="true">«</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-->

                                        <!-- end row -->
                                    </div> <!-- end row -->
                                </div> <!-- end card-box -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row -->

                        <div class="row">

                            <script>

                                

                                console.log(<%= members %>)

                                

                            </script>

                            <!% members.forEach(member => { 
                                var today = new Date();
                                var birthDate = new Date(member.personal.dob);
                                var age = today.getFullYear() - birthDate.getFullYear();
                                var m = today.getMonth() - birthDate.getMonth();
                                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                                    age--;
                                }
                                member.personal.age = age
                            %>
                            <div class="col-lg-3">
                                <div class="card-box text-center" style="height: 320px;">
                                    <div>
                                        <a href="/member?id=<!%=member.discord.id%>"><img src="https://cdn.discordapp.com/avatars/<!%= member.discord.id %>/<!%= member.discord.avatar %>.png" class="rounded-circle avatar-lg" style="border-style: solid; border-color: <!%= member.custom.color %>;"
                                            alt="profile-image" onerror="this.onerror=null; this.src='https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png'"></a>

                                        <div class="card-box text-center" style="width: fit-content; min-width: 50%; margin: .5rem auto 0 auto; padding: .4rem .5rem 0 .5rem; border-radius: .5rem .5rem 0 0;">
                                            <a href="/member?id=<!%=member.discord.id%>"><h4 class="mb-0" style="margin: 0;"><!%= member.discord.username %> #<!%= member.discord.discriminator %></h4></a>
                                        </div>
                                    </div>

                                    <div class="text-left mt-3" style="display: inline-block;">
                                        <!% if (member.personal.first_name) { %><i class="fas fa-file-signature" style="color: #fd8a48;"></i><p class="text-muted mb-2 font-13" style="display: inline;"><span class="ml-2" style="text-align: center;"><!%= member.personal.first_name %> <!%= member.personal.last_name %></span></p><br><!% } %>

                                        <!% if (member.personal.gender) { %><!% if (member.personal.gender.toLowerCase().includes('male') && !member.personal.gender.toLowerCase().includes('female')) { %><i class="fas fa-mars" style="color: #489cfd; width: 1rem;"></i><!% } %><!% if (member.personal.gender.toLowerCase().includes('female')) { %><i class="fas fa-venus" style="color: #fd48df; width: 1rem;"></i><!% } %><!% if (!member.personal.gender.toLowerCase().includes('male') && !member.personal.gender.toLowerCase().includes('female')) { %><i class="fas fa-transgender-alt" style="color: #8751ce; width: 1rem;"></i><!% } %><p class="text-muted mb-2 font-13" style="display: inline;"><span class="ml-2"><!%= member.personal.gender %></span></p><br><!% } %>

                                        <!% if (member.personal.age) { %><i class="fas fa-id-badge" style="width: 1rem; color: #53d447;"></i><p class="text-muted mb-2 font-13" style="display: inline;"><span class="ml-2 "><!%= member.personal.age %> Years old</span></p><br><!% } %>

                                        <!% if (member.personal.location) { %><i class="fas fa-map-marker-alt" style="width: 1rem; color: #f75858;"></i><p class="text-muted mb-1 font-13" style="display: inline;"><span class="ml-2"><!%= member.personal.location %></span></p><br><!% } %>
                                    </div>

                                    <ul class="social-list list-inline mt-3 mb-0">
                                        <!% if (member.connections.youtube) { %><li class="list-inline-item">
                                            <a href="<!%= member.connections.youtube %>" target="_blank" class="social-list-item" style="border-color: #FF0000; color: #FF0000;">
                                                <i class="fab fa-youtube"></i></a>
                                        </li><!% } %>
                                        <!% if (member.connections.twitch) { %><li class="list-inline-item">
                                            <a href="https://twitch.tv/<!%= member.connections.twitch %>" target="_blank" class="social-list-item" style="border-color: #6441a5; color: #6441a5;">
                                                <i class="fab fa-twitch"></i></a>
                                        </li><!% } %>
                                        <!% if (member.connections.facebook) { %><li class="list-inline-item">
                                            <a href="<!%= member.connections.facebook %>" target="_blank" class="social-list-item" style="border-color: #4f7cdd; color: #4f7cdd;">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li><!% } %>
                                        <!% if (member.connections.twitter) { %><li class="list-inline-item">
                                            <a href="https://twitter.com/<!%= member.connections.twitter %>" target="_blank" class="social-list-item" style="border-color: #43bee1; color: #43bee1;">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li><!% } %>
                                        <!% if (member.connections.instagram) { %><li class="list-inline-item">
                                            <a href="https://www.instagram.com/<!%= member.connections.instagram %>" target="_blank" class="social-list-item" style="border-color: #8a3ab9; color: #8a3ab9;">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li><!% } %>
                                        <!% if (member.connections.github) { %><li class="list-inline-item">
                                            <a href="https://github.com/<!%= member.connections.github %>" target="_blank" class="social-list-item" style="border-color: #cedeef; color: #cedeef;">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        </li><!% } %>
                                        <!% if (member.steam) { %><li class="list-inline-item">
                                            <a href="<!%= member.steam._json.profileurl %>" target="_blank" class="social-list-item" style="border-color: #1b2838; color: #1b2838;">
                                                <i class="fab fa-steam"></i>
                                            </a>
                                        </li><!% } %>
                                    </ul>
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                            <!% }); %>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <%- include('../footer') %>

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Modal -->
        <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title" id="myCenterModalLabel">Add New Member</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body p-4">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="position">Position</label>
                                <input type="text" class="form-control" id="position" placeholder="Enter position">
                            </div>
                            <div class="form-group">
                                <label for="company">Company</label>
                                <input type="text" class="form-control" id="company" placeholder="Enter company">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
        
                            <div class="text-right">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Continue</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <%- include('../settings') %>

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor js -->
        <script src="../assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.min.js"></script>
        
    </body>
</html>