<div style="margin-bottom: 5rem;">
    <link href="/assets/custom_css/steamButton.css" rel="stylesheet" type="text/css" />
    <a href="/auth/discord" class="steambutton"><span>Link Discord</span><div class="icon">
        <i class="fab fa-discord"></i>
    </div></a>
</div>