<div style="margin-bottom: 5rem;">
    <link href="/assets/custom_css/steamButton.css" rel="stylesheet" type="text/css" />
    <a href="/auth/steam" class="steambutton" style="background-color: #54c538;"><span>Link Steam</span><div class="icon">
        <i class="fab fa-steam-square"></i>
    </div></a>
</div>