<h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Personal Information</h5>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>First Name</label>
            <input account type="text" class="form-control" name="firstName" placeholder="Enter first name" value="<%= locals.user.details.firstName %>" maxlength="50">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Last Name</label>
            <input account type="text" class="form-control" name="lastName" placeholder="Enter last name" value="<%= locals.user.details.lastName %>" maxlength="50">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group mb-3">
            <label for="dob">Date of Birth</label>
            <input account type="text" name="dob" class="form-control" data-provide="datepicker" data-date-format="d-M-yyyy" placeholder="00-00-0000" value="<%= locals.user.details.dob %>">
        </div>
    </div>
</div>





<div class="text-right">
    <button class="btn btn-success waves-effect waves-light mt-2" type="button" onclick="save()"><i
            class="mdi mdi-content-save"></i> Save</button>
</div>